<?php
$this->extend('../Layout/TwitterBootstrap/dashboard');

$this->start('tb_actions');
?>
    <li><?=
    $this->Form->postLink(
        __('Delete'),
        ['action' => 'delete', $weekday->id],
        ['confirm' => __('Are you sure you want to delete # {0}?', $weekday->id)]
    )
    ?>
    </li>
    <li><?= $this->Html->link(__('List Weekdays'), ['action' => 'index']) ?></li>
    <li><?= $this->Html->link(__('List Lecturer Classes'), ['controller' => 'LecturerClasses', 'action' => 'index']) ?> </li>
    <li><?= $this->Html->link(__('New Lecturer Class'), ['controller' => 'LecturerClasses', 'action' => 'add']) ?> </li>
<?php
$this->end();

$this->start('tb_sidebar');
?>
<ul class="nav nav-sidebar">
    <li><?=
    $this->Form->postLink(
        __('Delete'),
        ['action' => 'delete', $weekday->id],
        ['confirm' => __('Are you sure you want to delete # {0}?', $weekday->id)]
    )
    ?>
    </li>
    <li><?= $this->Html->link(__('List Weekdays'), ['action' => 'index']) ?></li>
    <li><?= $this->Html->link(__('List Lecturer Classes'), ['controller' => 'LecturerClasses', 'action' => 'index']) ?> </li>
    <li><?= $this->Html->link(__('New Lecturer Class'), ['controller' => 'LecturerClasses', 'action' => 'add']) ?> </li>
</ul>
<?php
$this->end();
?>
<?= $this->Form->create($weekday); ?>
<fieldset>
    <legend><?= __('Edit {0}', ['Weekday']) ?></legend>
    <?php
    echo $this->Form->input('shortname');
    echo $this->Form->input('longname');
    ?>
</fieldset>
<?= $this->Form->button(__("Save")); ?>
<?= $this->Form->end() ?>
